doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app-style.css')
    script(type='text/javascript', href='/javascripts/app.js')
  body
    block content