/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




.hide { display: none; }
body { background-color: #fff; color: #999;}
header { }

section { clear: both; }
div { float: left; width: 720px; display: block; }
video, .yle_areena_player { width: 720px; }
div img { width: 100%; margin:0; padding: 0; }
h1 { text-align: center; font-size: 3em; color: #999; background-color: #fff; font-family: Georgia; padding: 100px;}
li { list-style-type: none; }

nav { z-index: 99999999; font-size: 2em; text-align: center; color: #fff; display: block; width: 100%;}

nav#genre { font-size: 1.2em; margin-top: 100px; text-align: center; }
nav#genre a { padding: 20px; color: #999; text-decoration: none; display: inline-block; height: 1em}
nav#genre a.active { background-color: #ededed; padding: 10px 20px; color: #111; border-radius: 20px; }

nav#country { position: fixed; top:0;  font-size: 2em; color: #999; background-color: #fff; padding: 1em;}
nav#country li { display: inline-block; float: left; width:20%; position: relative; cursor:pointer; }
nav#country li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  border: 1px solid #ccc;
  padding: 1em;
}
nav#country li ul li { 
  display: inline-block; 
  color: #999;
  clear: both;
  padding: 0.25em;
}

nav#country li ul li.active { color: #111;} 

nav#country li ul li:hover {  }
nav#country li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  margin-left: 50px;
}

nav#country li span {   margin-top: 10px;
  /* display: block; */
  position: absolute;
  top: 0;
  right: 60px;
}


.yle .yle_areena_player.video .player-play-icon-video-wrapper .player-play-icon-video {margin-left: -306px;}
.yle .elava-arkisto-embed div.top-right-first-aired { display: none; }

.wrapper { background-color: #000; width:100%;}